@charset "UTF-8";

* {
    margin: 0;
    padding: 0;
}

body {
    background: black url('imagens/fundo-madeira.jpg') no-repeat top center / cover fixed;
    height: 100vh;
    width: 100vw;
    
}
main {
    position: relative;
    height: 100vh;
}

iframe {
    display: block;
    position:absolute;
    top: 80px;
    left: 22px;
    height: 471px;
    width: 267px;
} 

#phone {
    position: absolute;
    top: 50%;
    left: 50%;
    height: 627px;
    width: 311px;
    transform: translate(-50%, -50%);
    background-image: url('imagens/frame-iphone.png');
}

#social-midia img {
    color: white;
    border-radius: 50%;
    width: 50px;
    margin: 10px;
    box-shadow: 2px 2px 2px rgba(0, 0, 0, 0.281);
    box-sizing: border-box;
    transition: 0.5s;
}

#social-midia img:hover {
    transform: translate(-5px, -5px);
}

section#social-midia {
    text-align: right;
}