@charset "UTF-8";

body {
    height: 100vh;
    /*background-color: black;
    background-image: url('imagens/wallpaper002.jpg');
    background-position: center top;
    background-repeat: no-repeat;
    background-size: cover;
    background-attachment: fixed;*/

    /*
    SHORTHAND BACKGROUND
    background: color > image > position > repeat > [size] > attachment
    [Entre repeat e size põe uma barra e segue com attachament]
    */
    background: black url('imagens/wallpaper002.jpg') center top / cover fixed;
}

main {
    text-align: justify;
    background-color: white;
    max-width: 500px;
    padding: 10px;
    margin: auto;
    border: 1px solid navy;
    border-radius: 15px;
}

main h1 {
    text-align: center;
}